<body onload="showNotes()">
      <div id="topNavigation" style="display: none;">
            <div class="topbar">
                  <a href="#home" id="homeTop" onclick="showNotes()"><i class="fa fa-fw fa-home"></i> Home</a>
                  <a href="#new" id="newTop" onclick="openNewNotePage()"><i class="fa fa-fw fa-plus-square-o"></i>
                        New</a>
                  <a href="#trash" id="trashTop" onclick="showTrash()"><i class="fa fa-fw fa-envelope"></i> Trash</a>
            </div>
      </div>
      <div class="displayShow">
            <!-- The sidebar -->
            <div class="sidebar">
                  <a href="#home" id="home" onclick="showNotes()"><i class="fa fa-fw fa-home"></i> Home</a>
                  <a href="#new" id="new" onclick="openNewNotePage()"><i class="fa fa-fw fa-plus-square-o"></i> New</a>
                  <a href="#trash" id="trash" onclick="showTrash()"><i class="fa fa-fw fa-envelope"></i> Trash</a>
            </div>

            <!-- //input note -->
            <div id="renderMain" class="main">
            </div>

      </div>



</body>